packages:
  yum:
    amazon-cloudwatch-agent: []

files:
  "/tmp/config.json":
    mode: "000644"
    owner: "root"
    group: "root"
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "root"
        },
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/log/nginx/error.logs",
                  "log_group_name": "error.logs",
                  "log_stream_name": "{instance_id}",
                  "retention_in_days": 7
                }
              ]
            }
          }
        },
        "metrics": {
          "aggregation_dimensions": [
            ["InstanceId"]
          ],
          "append_dimensions": {
            "AutoScalingGroupName": "${aws:AutoScalingGroupName}",
            "ImageId": "${aws:ImageId}",
            "InstanceId": "${aws:InstanceId}",
            "InstanceType": "${aws:InstanceType}"
          },
          "metrics_collected": {
            "collectd": {
              "metrics_aggregation_interval": 60
            },
            "disk": {
              "measurement": [
                "used_percent"
              ],
              "metrics_collection_interval": 60,
              "resources": [
                "*"
              ]
            },
            "mem": {
              "measurement": [
                "mem_used_percent"
              ],
              "metrics_collection_interval": 60
            },
            "statsd": {
              "metrics_aggregation_interval": 60,
              "metrics_collection_interval": 10,
              "service_address": ":8125"
            }
          }
        }
      }

  "/tmp/modify_config.sh":
    mode: "0755"
    owner: "root"
    group: "root"
    content: |
      #!/bin/bash
      NAME=$(/opt/elasticbeanstalk/bin/get-config container -k environment_name)
      sed "s/instancename/$NAME/g" /tmp/config.json > /opt/aws/amazon-cloudwatch-agent/bin/config.json

container_commands:
  01_export_name_variable:
    command: "bash /tmp/modify_config.sh"
  03_start_sending:
    command: "/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json -s"
