packages:
  yum:
    collectd: []

commands:
  01_start_collectd:
    command: "systemctl start collectd.service"
    ignoreErrors: false

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/00_restart_cloudwatch_agent.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # Function to check if CloudWatch Agent is running
      check_cw_agent() {
        if ! pgrep -f amazon-cloudwatch-agent; then
          return 1
        fi
        return 0
      }

      # Initial run to fetch CloudWatch Agent configuration
      sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c ssm:${SSM_PARAMETER_FILE}

      # Check and restart CloudWatch Agent if necessary
      check_cw_agent
      if [ $? -ne 0 ]; then
        sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c ssm:${SSM_PARAMETER_FILE}
      fi

container_commands:
  01_check_and_restart_cw_agent:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/enact/00_restart_cloudwatch_agent.sh"
    
