# .ebextensions/02-upload-cwagent-config.config
container_commands:
  01_upload_cwagent_config:
    command: |
      #!/bin/bash

      # Define the path to your CloudWatch Agent configuration file
      CWAGENT_CONFIG_FILE="cw_agent/.ebextensions/cw-parameter.config"

      # Define the SSM parameter name where the configuration will be stored
      SSM_PARAMETER_NAME="cwagent"

      # Upload the configuration file to SSM Parameter Store
      if [ -f "$CWAGENT_CONFIG_FILE" ]; then
        echo "Uploading CloudWatch Agent configuration to SSM Parameter Store..."

        aws ssm put-parameter \
          --name "$SSM_PARAMETER_NAME" \
          --type "String" \
          --value "$(cat $CWAGENT_CONFIG_FILE)" \
          --overwrite

        echo "Upload completed successfully."
      else
        echo "CloudWatch Agent configuration file not found: $CWAGENT_CONFIG_FILE"
        exit 1
      fi
