container_commands:
  01_debug_check:
    command: |
      echo "=== Debugging Information ==="
      echo "Current working directory:"
      pwd  # Print the current working directory
      echo "Files in the current directory:"
      ls -l  # List all files in the current directory
      echo "============================="
      
  02_upload_cwagent_config:
    command: |
      # Define the name of your CloudWatch Agent configuration file
      CWAGENT_CONFIG_FILE="cw-agent/.ebextensions/cw-parameter.config"

      # Check if the file exists
      if [ -f "$CWAGENT_CONFIG_FILE" ]; then
        echo "Found CloudWatch Agent configuration file."

        # Proceed to upload the file to SSM Parameter Store
        aws ssm put-parameter \
          --name "cwagent-test" \
          --type "String" \
          --value "$(cat $CWAGENT_CONFIG_FILE)" \
          --overwrite

        echo "Upload completed successfully."
      else
        echo "Error: CloudWatch Agent configuration file not found."
        exit 1
      fi
